<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>pare.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6D7778AE1F2AC69C0050BED2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D7778C21F2AC69D0050BED2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D7778CD1F2AC69D0050BED2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
